<div class="col-md-6">
  <div class="text-center">
    <h1>Delete account</h1>
  </div>

  <%= form_tag 'delete' method: delete %>
  <%= password_field_tag :password %>
  <%= hidden_field_tag :id, @card.id %>
  <%= submit %>

  <%= end %>
</div>
