<div class="col-md-3">
  <h1>My information</h1>
  <ul class="list-group">
    <li class="list-group-item">
      Name:
      <%= current_user.fname.capitalize %>
      <%= current_user.lname.capitalize %>
    </li>
    <li class="list-group-item">
      Number:
      <%= current_user.phone_number %>
    </li>
    <li class="list-group-item">
      Email:
      <%= current_user.email %>
    </li>
    <li class="list-group-item">
      Number of cards:
      <%= current_user.cards.count %>
    </li>
    <li class="list-group-item">
      Total Balance:
      <%= @balance %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Edit Account', edit_user_path(current_user.id) %>
    </li>

  </ul>

</div>
<div class="col-md-6">
  <h1>My cards</h1>
  <ul class="list-group">
    <% @cards.each do |cards| %>
    <li class="list-group-item">
      <strong>Number:
      </strong><%= cards.number %>
    </li>
    <li class="list-group-item">
      <strong>Owners:</strong>
      <% cards.users.each do |names| %>
      <% if names.fname == current_user.fname %>
      Me
      <% else %>
      <%= names.fname.capitalize %>
      <%= names.lname.capitalize%>
      <% end %>

      <% end %>
      <strong>Balance:</strong>
      <%= cards.balance %>
      <%= link_to 'Share', share_path(cards.id) %>
    </li>
    <% end %>
  </ul>
</div>
